@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body {
  margin: 0;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(239, 240, 247);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 30px 70px;
}

@media screen and (max-width: 500px) {
  .container {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 990px) {
  .container {
    margin-top: 64px;
  }
}

a {
  color: #000 !important;
  text-decoration: none;
}


::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e6e5e5; 
  border-radius: 50px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(161, 161, 161); 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* nav a.active {
  text-decoration: none;
  font-weight: bold;
}

nav {
  padding: 15px;
  font-weight: 17px;
  background-color: pink;
} */