.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.style-input {
    padding: 4px 10px;
    border: 1px solid grey;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    font-family: 'Montserrat', sans-serif;
}

.style-input:focus {
    outline: none;
    border: 1px solid rgb(111, 110, 110);
    border-right: none;
}

.input-search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid grey;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s;
    cursor: pointer;
}

.input-search:hover {
    background-color: rgb(136, 136, 136);
}

.input-wrap {
    position: relative;
    width: 97%;
}

.input-wrap .input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    outline: none;
    border: 1px solid grey;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.input-wrap .input1 {
    width: 100%;
    padding: 8px 12px;
    /* border-radius: 4px; */
    outline: none;
    border: none;
    border-bottom: 1.5px solid grey;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.floating-label {
    position: absolute;
    left: 0px;
    top: 9px;
    background-color: transparent;
    padding: 0px 14px;
    font-size: 15px;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    color: grey;
}

.input-wrap input:not(:placeholder-shown)~.floating-label {
    top: -10px;
    left: 12px;
    background: rgb(239, 240, 247);
    color: #000;
}

.cusTable {
    width: 100%;
    border-collapse: collapse;
}

.cusTaHead {
    background-color: rgb(177, 177, 177);
    border: 1px solid rgba(56, 56, 56, 0.719) !important;
}

.cusTaHead th {
    padding: 12px;
    text-align: left;
}

.cusTbody {
    border-bottom: 1px solid rgba(56, 56, 56, 0.719) !important;
}

.cusTbody td {
    padding: 5px;
    border-bottom: 1px solid rgba(56, 56, 56, 0.719) !important;
    text-align: left;
}

.modalCont {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.483);
    left: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.modalWrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.modal-wrap {
    width: 320px;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    z-index: 1000;
}

.pag_cont {
    width: inherit;
    overflow-x: scroll;
}

.pag_fig {
    padding: 13px 18px;
    background-color: rgb(176, 176, 176);
    border-radius: 5px;
    margin: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

/* .pag_figs {
    padding: 13px 18px;
    background-color: rgb(176, 176, 176);
    border: 3px solid transparent;
    border-radius: 5px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
} */

.pag_active {
    border: 3px solid rgb(59, 59, 59);
    background-color: gray;
}

@media screen and (max-width: 901px) {

    .pag_fig {
        padding: 5px 13px;
        background-color: rgb(176, 176, 176);
        border: 3px solid transparent;
        border-radius: 5px;
        margin: 5px;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    }

    .pag_active {
        border: 3px solid rgb(59, 59, 59);
        background-color: gray;
    }
}

@media screen and (max-width: 745px) {

    .pag_fig {
        padding: 2px 10px;
        background-color: rgb(176, 176, 176);
        border: 3px solid transparent;
        border-radius: 5px;
        margin: 3px;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
    }

    .pag_active {
        border: 3px solid rgb(59, 59, 59);
        background-color: gray;
    }
}

@media screen and (max-width: 500px) {

    .pag_fig {
        padding: 2px 6px;
        background-color: rgb(176, 176, 176);
        border: 3px solid transparent;
        border-radius: 5px;
        margin: 3px;
        font-size: 10px;
        font-weight: bold;
        cursor: pointer;
    }

    .pag_active {
        border: 3px solid rgb(59, 59, 59);
        background-color: gray;
    }
}

.spinner_cont {
    width: 90vw;
    height: calc(100vh - 210px);
    position: absolute;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 7px solid grey;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spinner 1.5s infinite;
}

.small_spinner {
    width: 13px;
    height: 13px;
    border: 3px solid tomato;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spinner 1.5s infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin_text {
    font-size: 20px;
    animation: opc 1.5s infinite;
}

@keyframes opc {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}